<ul> List of Awesome Clips
  <% @videos.each do |video| %>
    <li>
      <%= link_to video.title, video_url(video.id) %>
      (<%= video.random_rating %>)
      <%= video.snippet %>
    </li>
  <% end %>
</ul>